<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HR Covered</title>
    <!-- <link rel="stylesheet" href="styles.css">  -->
    <link rel="stylesheet" href="/style.css">
    <!-- Bootstrap CSS (Optional if you want to use Bootstrap for styling) -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% if (typeof message !== 'undefined' && message.length > 0) { %>
    <div class="alert alert-info ">
        <%- message %>
    </div>
    <% } %>
    <header>
        <div class="logo-container">
            <img src="/logo-small.png" alt="HR Covered Logo" class="logo">
        </div>
        <h1>Welcome to SignaTrack</h1>
        <p>Your one-stop solution for HR management.</p>
    </header>
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        <form action="/userlogin" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-center mt-5">
        <p>&copy; 2024 HR Covered. All rights reserved.</p>
    </footer>
</body>
</html>
