/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* light gray */
    color: #343a40; /* dark gray */
}

/* Header */
header {
    background: #002e5d; /* dark blue */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

header .logo-container {
    background: #fff;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 1rem;
}

header .logo {
    max-width: 200px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.contact-info {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.contact-info a {
    color: #39b54a; /* green */
    text-decoration: none;
}

contact-info a:hover {
    text-decoration: underline;
}

/* Navigation */
nav {
    background: #343a40; /* dark gray */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #002e5d; /* dark blue */
}

section p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Footer */
footer {
    background: #343a40; /* dark gray */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
/* Custom styles for admin options */
.admin-options {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.admin-options h2 {
    margin-bottom: 10px;
}

.admin-options ul {
    list-style-type: none;
    padding: 0;
}

.admin-options li {
    margin-bottom: 8px;
}

.admin-options a {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.admin-options a:hover {
    background-color: #f0f0f0;
}
